*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.btn-primary{
    color: #ffffff;
    font-weight: 700px;
    font-size: 20px;
    height: 64px;
    border: 0;
    border-radius: 5px;
    background-color: #fd6e0a;
    padding: 18px  35px;
}
.header{
    background-color: #ffffff;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
   
    background-repeat: no-repeat;
    background-position: bottom right ,left ;
   
}
/* Hearder and nav title  */
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-title{
    font-weight: 800px;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
.text-primary{
    color: #fd6e0a;
}
/* Banner part */
.banner{
    margin: 0  200px;
    display: flex;
    align-items: center;
}

.ban-title{
  font-weight: 700;
  font-size: 75px;

}
.ban-sub-title{

    font-weight: 60px;
    font-size: 45PX;
    margin-bottom: 20px;
}
.ban-discription{
    color: #757575;
    margin-bottom: 30px;
  

}
/* Section part  */
main{
    max-width: 1140px;
    margin:  0 auto;
}
.about{
    margin-top: 130px;
    background-color: #fff8f3;
    border-radius: 10px;
    padding: 30px;
    font-weight: 700px;
    font-size: 35px;
    

}
.section-about{

    text-align: center;
    margin-bottom: 30px;

}
.section-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;
    
}
.about-info-comtainer{
    display: flex;
    justify-content: space-around;
}
.about .info-title{
    font-size: 20px;
    color: #757575;
}
.info-description{
    font-weight: 700px;
    font-size: 20px;
    color: #757575;
}

.section-title{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    font-weight: 700px;
    font-size: 50px;

}
.skill-container{
    display: flex;
    gap: 24px;
}
.skill-title{
    font-weight: 700px;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.skill{
    background-color: #ffffff;
    box-shadow: 0px 6px 50px rgb(0, 0, 0, 0.36);
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 20px;
}
/* resume section */
.resume{
    display: flex;
    margin-bottom: 40px;
}

.resume-contant{
    display: flex;
    gap: 24px;
}
.resume-item{
    margin-top:30px;
    margin-bottom: 30px;
}
.resume .title{
 font-size: 30px;
 font-weight: 700px;
 color: #474747;
 margin-bottom: 10px;
    
}
.resume .sub-title{
    color: #757575;
    font-weight: 600px;
    font-size: 20px;
    margin-bottom: 20px;

}
.resume .description{

    color: #757575;
}
.resume-btn{
    margin-top: 50px;
    text-align: center;
}

/* contruct section */

.contract{
   
    display: flex;
    gap: 50px;
    background: #fff8f3;
    padding: 100px 150px;

}

.contract .contract-title{
  text-align: left;
    border: 0;
    padding: 18px 30px;
   

}
.contract .section-description{
    text-align: left;
}
.contract input[type="text"], input[type="email"], textarea{
   
    margin-left: 20px;
    width: 100%;
    margin: 10px;
    border: #fff8f3;
    padding: 18px 30px;
    

}
.contract  a{
    text-decoration: none;



}